/* === RESET BÁSICO === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

.logo {
  width: 10%;
  height: auto;
}

img {
  width: 250px;        /* define a largura das imagens */
  height: 250px;       /* define a altura igual pra todas */
  object-fit: cover;   /* mantém o enquadramento sem distorcer */
  border-radius: 10px; /* deixa com bordas arredondadas (opcional) */
  transition: transform 0.3s; /* efeito suave no hover */
}

img:hover {
  transform: scale(1.05); /* aumenta levemente quando o mouse passa */
}
